# General
bin/*
.DS_Store
yarn-error.log
Homestead.json
Homestead.yaml
npm-debug.log
/.vagrant
.phpunit.result.cache
.env.backup

# Composer
/vendor

# Frontend
.sass-cache/*
node_modules

# Project
.idea
.env
.env.dusk
/public/hot
public/js
public/css
public/img
public/images
public/fonts
public/vendor
public/mix-manifest.json
/public/mix.*
public/storage
builds

_ide_helper.php
_ide_helper_models.php
resources/assets/js/vendor/laroute/laroute.js
/tests/_reports

.favorites.json
package-lock.json
